* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }

body {
    font-family: sans-serif;
    display:block;
    justify-content: center;

  }

h1 {
    text-align: center;
}

main {
    border: 1px solid black;
    margin-left: 15px;
    margin-right: 15px;

}

.checked {
  color: gold;
}
.bookmark-entry {
  display:block;
  justify-content: center;
  margin: 5px;

}


input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#add-bookmark, #addBookmark {
    background-image: linear-gradient(white,lightgrey);
    width: 100px;
    height: 40px;
    cursor: pointer;
    font:inherit;
    font-size: inherit;

} 

#min-rating-box {
    background-image: linear-gradient(white,lightgrey);
    float: right;
    width: 185px;
    padding: 10px;
    height: 40px;
    font:inherit;
    font-size: inherit;

}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    /*margin-bottom: 15px;*/
    /*border-radius: 20px;*/
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }