* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: sans-serif;
    display:block;
    justify-content: center;
  }

h1 {
    text-align: center;
}

main {
    border: 1px solid black;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 2px;
    background-image: linear-gradient(white, grey);
}

.display-rating {
  color: gold;
  text-shadow: 1px 1px black;
}

.bookmark-entry {
  display:block;
  justify-content: center;
  margin: 5px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-image: linear-gradient(white,lightgrey);
}

input[type=url] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-image: linear-gradient(white,lightgrey);
}

#add-bookmark, #addBookmark {
    background-image: linear-gradient(white,lightgrey);
    width: 100px;
    height: 40px;
    cursor: pointer;
    font:inherit;
    font-size: inherit;
} 

#min-rating-box {
    background-image: linear-gradient(white,lightgrey);
    float: right;
    width: inherit;
    padding: 10px;
    height: 40px;
    font:inherit;
    font-size: inherit;
}

li {
  list-style: none;
  padding: 5px;
}